@model User

<div class="text-center">
    <h1 class="display-4">Mesocycle Maker</h1>
</div>

<div>
    <h5>Enter your Mesocycle ID</h5>
</div>


<!--To pull up a user mesocycle-->
<div>
    <div>
        <form asp-controller="ExercisePerMeso" asp-action="Results">

            <div class="mb-3">

                <label asp-for="UserMesoID" class="control-label">Mesocycle ID</label>
                <input asp-for="UserMesoID" class="form-control" min=1 max=9999 maxlength=4/>
                <span asp-validation-for="UserMesoID" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
           
            
        </form>
    </div>
</div>




<!--To create a new user mesocycle-->
<h2>Create a new mesocycle</h2>
<p>Enter the information below to create a new mesocycle.</p>
<div>
    <div class="container"
        <form asp-controller="UserMeso" asp-action="NewUserMeso">
            <div class="row">
                <div class="col">
                    <label asp-for="UserMesoGoal" class="form-label">Mesocycle Goal</label>
                    <input asp-for="UserMesoGoal" class="form-control" id="UserMesoGoal" aria-describedby="mesoGoalHelp" placeholder="A short description about your goals for this mesocycle." />
                </div>
                <div class="col-md-4">
                    <label asp-for="UserMesoWeekLength" class="form-label">Number of weeks for mesocycle</label>
                    <input asp-for="UserMesoWeekLength" class="form-control" id="UserMesoWeekLength" min=4 max=12 placeholder="For best results, 4(min)-12(max)." />
                </div>

                <div class="mb-3">
                        <button type ="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>